* {
    margin: 0;
    padding: 0;
}

.section-description {
    background: #D9D9D9;
    height: 800px;
}

.title-description-11 {
    font-size: 25px;
    position: absolute;
}

.flex-11 {
    display: flex;
    justify-content: space-around;
    /*margin-top: 60px;*/

}

.nike-air-1 {
    width: 650px;
    height: 600px;
}

.price-tag-50 {
    font-size: 15px;
    position: absolute;
    margin-top: 40px;
}

.stars-1 {
    margin-top: 70px;
}

.img-star {
    width: 25px;
}

.paragraph-fire {
    display: flex;
}

.img-fire {
    width: 25px;
    position: absolute;
}

.under-fire-1 {
    font-size: 15px;
    margin-left: 27px;
    margin-top: 3px;
    color: red;
}

.paragraph-50 {
    margin-top: 20px;
    font-size: 19px;
}

.title-50 {
    font-size: 15px;
    margin-top: 25px;
}

.button-cart-1 {
    margin-top: 30px;
    border: 1px solid #F7931E;
    background: #F7931E;
    width: 160px;
    height: 50px;
    border-radius: 60px;
    text-align: center;
    color: #FFFFFF;
}

.paragraph-cart-1 {
    margin-top: 13px;
    font-size: 15px;
}

.section-img-10 {
    margin-top: 100px;
}

.description-1 {
    margin-top: 100px;

}

.back-zoom {
    border: 1px solid #FF914D;
    background: #FF914D;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    margin-left: 555px;
    margin-top: 80px;
}

.img-back {
    width: 60%;
    margin-top: 7px;
    margin-left: 7px;
}

.forward-zoom {
    margin-left: 620px;
    border: 1px solid #FF914D;
    background: #FF914D;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    margin-top: 80px;
}

.img-forward {
    width: 60%;
    margin-top: 7px;
    margin-left: 7px;
}

.under-flex-40 {
    display: flex;
    justify-content: space-around;
    margin-top: -60px;
}

.under-title-zoom {
    font-size: 20px;
}

.title-zoom {
    position: absolute;
    margin-left: -1095px;
    margin-top: 104px;
}

.flex-image-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.img-zoom-1 {
    width: 330px;
    height: 330px;
}

.title-zoom-1 {
    font-size: 20px;
    margin-top: 10px;
}

.paragraph-zoom-1 {
    font-size: 15px;
    margin-top: 10px;
}

.img-zoom-2 {
    width: 330px;
    height: 330px;
    border: 1px solid black;
}

.title-zoom-2 {
    font-size: 20px;
    margin-top: 10px;
}

.paragraph-zoom-2 {
    font-size: 15px;
    margin-top: 10px;
}

.img-zoom-3 {
    width: 330px;
    height: 330px;
}

.title-zoom-3 {
    font-size: 20px;
    margin-top: 10px;
}

.paragraph-zoom-3 {
    font-size: 15px;
    margin-top: 10px;
}